JWT_PRIVATE_KEY=Private key for JWT signing. Will have the form of "-----BEGIN RSA PRIVATE KEY----- the characters sequence -----END RSA PRIVATE KEY-----". Can be generated using online tools or openssl (suggestion: https://8gwifi.org/jwsgen.jsp)
JWT_PUBLIC_KEY=Public key for JWT verification. Will have the form of "-----BEGIN PUBLIC KEY----- the characters sequence -----END PUBLIC KEY-----". Can be generated using online tools or openssl (suggestion: https://8gwifi.org/jwsgen.jsp)