MASTER_PASSWORD=A password that indicate the master user
JWT_PRIVATE_KEY=Private key for JWT signing. Will have the form of "-----BEGIN PRIVATE KEY----- the characters sequence -----END PRIVATE KEY-----". Can be generated using online tools or openssl (suggestion: https://jwt-keys.21no.de/)
JWT_PUBLIC_KEY=Public key for JWT verification. Will have the form of "-----BEGIN PUBLIC KEY----- the characters sequence -----END PUBLIC KEY-----". Can be generated using online tools or openssl (suggestion: https://jwt-keys.21no.de/)